# Ambientes virtuais
venv/
.env/

# Arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configurações locais
.idea/
.vscode/
*.log
*.db

# Arquivos do pytest
.pytest_cache/
.htmlcov/
*.coverage

# Pastas de build
build/
dist/
*.egg-info/
